language: generic
sudo: required
services:
  - docker
before_install:
  - docker build -t docker-react -f Dockerfile.dev .
script:
  - docker run -e CI=true docker-react npm run test
deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_KEY_ID
  secret_access_key: $AWS_SECRET_KEY
  region: "us-east-2"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-east-2-395795512576"
  bucket path: "docker-react"
  on:
    branch: master